/*-------------------------------------
*       My Animation
*------------------------------------*/
.myanimation {
    animation-name: mine;
    animation-duration: 4s;
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    margin: 0px 3%;
    height: 15px;
    border-radius: 40px;
    background-color: red;
    /*width: 90%;*/
    animation-timing-function: cubic-bezier(0.510, 0.095, 0.545, 1.240);
}

@keyframes mine {
    0%   {width:5%; background-color: red;}
    25%  {width:94%; left: 0px; background-color: blue;}
    50%  {width: 5%; left: 89%; background-color: DarkSlateGray;}
    75%  {width: 94%; left: 0px; background-color: purple;}
    100% {width: 5%; left: 0px; background-color: green;}
}

.ball {
    position: absolute;
    width: 14px;
    height: 15px;
    /*border-radius: 0% 0% 100% 100%;*/
    background-color: black;
    margin: -23px 43% 0px;
}

.ball::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.ball2 {
    position: absolute;
    width: 14px;
    height: 15px;
    /*border-radius: 100% 100% 0% 0%;*/
    background-color: black;
    margin: 23px 43% 0px;
}

.ball2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}


/*-------------------------------------
*       Animated waveforms
*------------------------------------*/
:root {
    --m: 10.5;
    --wavefreq: calc(100ms * var(--m));
}

#section-wave {
    display: flex;
    gap: 15px;
    margin: 50px 0;
    justify-content: center;
}

[class*='a_wave'] {
    aspect-ratio: .125/1;
    background-color: red;
    border-radius: 15px;
    width: .5vw;
}

@keyframes waveform {
    0% {
        transform: scaleY(.5);
    }
    50% {
        transform: scaleY(1.5);
    }
    100% {
        transform: scaleY(.5);
    }
}

[class*='a_wave'] {
    aspect-ratio: .125/1;
    /*This can all be written on one line:*/
    animation: waveform var(--wavefreq)
                ease-in-out infinite
                forwards;
    background-color: gray;
    border-radius: 15px;
    width: .5vw;
}

.a_wave0 {
    --wavefreq: calc(200ms * var(--m));
}

.a_wave1 {
    --wavefreq: calc(210ms * var(--m));
}

.a_wave2 {
    --wavefreq: calc(220ms * var(--m));
}

.a_wave3 {
    --wavefreq: calc(230ms * var(--m));
}

.a_wave4 {
    --wavefreq: calc(240ms * var(--m));
}

.a_wave5 {
    --wavefreq: calc(250ms * var(--m));
}

.a_wave6 {
    --wavefreq: calc(260ms * var(--m));
}